* {
  margin: 0;
  padding: 0;
}

/*************************BODY******************************/
body {
  font-family: "Patua One", cursive;
  background: rgb(248, 156, 250);
  background: radial-gradient(circle, rgb(248, 156, 250) 31%, rgb(243, 174, 245) 73%);
}

/*-------------------------------------NAV HOME------------------------------------*/
.logo {
  height: 5rem;
  border-radius: 100%;
}

.nav {
  margin-bottom: 0.5rem;
  background-color: #7e067e;
}

.barra__link {
  margin: 0.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.barra__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.barra__link--button {
  color: #000000;
  background-color: #f137f1;
  margin: 0 1rem;
  border-radius: 15px;
  border: solid 0.1rem #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.barra__link--button:hover {
  background-color: #f8f8f8;
}

/*------------------------------------------MAIN HOME--------------------------------------*/
main {
  margin-top: 1rem;
}

.home1 {
  text-align: center;
}

.h1__home {
  color: #000000;
  font-size: 5rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.img__home {
  height: 30rem;
  width: auto;
}

.home2 {
  text-align: center;
}

h2 {
  text-align: center;
  color: #000000;
  margin: 10rem;
}

.home2__texto {
  margin: 1rem;
  color: #000000;
  text-align: center;
  line-height: 2rem;
  padding: 2rem;
}

.home2__seccion2__video {
  width: 50rem;
  height: 30rem;
  margin: 3rem;
}

p {
  line-height: 2rem;
  color: #000000;
}

/*********************************** MAIN NOVEDADES ************************************/
.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content min-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "titulo titulo img img" "texto texto img img" "texto texto img img" ". butom butom .";
}

.titulo {
  grid-area: titulo;
}

.texto {
  grid-area: texto;
}

.butom {
  grid-area: butom;
}

.img {
  grid-area: img;
}

.boton {
  color: #000000;
  background-color: #2406d3;
  padding: 1.5rem;
  margin: 0 1rem;
  border-radius: 15px;
  border: solid 0.1rem #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.boton:hover {
  background-color: #f8f8f8;
}

.img__novedades {
  width: 50rem;
}

.novedades {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

/*********************************** MAIN NOSOTROS ************************************/
.nosotros {
  text-align: center;
}

.nosotros__img1 {
  height: 40rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.nosotros__img2 {
  height: 40rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.h1__nosotros {
  margin-bottom: 2rem;
}

.h2__nosotros {
  margin-top: 2rem;
  margin-bottom: 0%;
}

.h3__nosotros {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/*---------------------------------------------------------MAIN PRODUCTOS-----------------------------------------*/
.buscador {
  text-align: center;
  margin-bottom: 3rem;
}

.card {
  background-color: #7e067e;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 5%;
  margin: 1rem;
  margin-bottom: 10rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card__img {
  width: 100%;
}

.card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card div a {
  background-color: #f8f8f8;
  color: #000000;
  padding: 0.3;
  border-radius: 0.3rem;
}

.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

a {
  text-decoration: none;
}

/*---------------------------------------------------------MAI CONTACTO------------------------------------------------*/
.contacto {
  text-align: center;
}

.contacto__subtitulo {
  text-align: center;
}

.formulario {
  margin-bottom: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  margin: 1rem;
}

/*---------------------------------------------------------MAI FAQ------------------------------------------------*/
.faq {
  text-align: center;
}

.faq__secciones {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.lista {
  list-style-type: none;
}

/********************************FOOTER************************************/
.pie {
  background-color: #4d4747;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pie__seccion1_list {
  list-style: none;
  font-size: 1.1rem;
  line-height: 2rem;
}

.direccion {
  color: #ffffff;
}

.redes {
  list-style-type: none;
}

.redes__whatsapp {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.redes__whatsapp:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.redes__instagram {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.redes__instagram:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.redes__facebook {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.redes__facebook:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.li__pie {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.li__pie:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.direccion {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.direccion:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*-------------------------------RESPONSIVE----------------------------------------*/
@media screen and (max-width: 425px) {
  /************RESPONSIVE 425 NAV*********************************/
  .nav {
    width: 100%;
  }
  .barra__link {
    margin: 0.5rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .barra__link:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  /************RESPONSIVE 425 MAIN HOME*********************************/
  .img__home {
    width: 100%;
    height: 10rem;
  }
  .h1__home {
    font-size: 2rem;
    text-align: center;
  }
  h2 {
    margin: 5rem;
  }
  .home2__seccion2__video {
    display: none;
  }
  /************RESPONSIVE 425 CONTACTO*********************************/
  .contacto__img {
    display: none;
  }
  /************RESPONSIVE 425 NOVEDADES*********************************/
  .img__novedades {
    width: 11rem;
  }
  /************RESPONSIVE 425 NOSOTROS*********************************/
  .nosotros__img2 {
    height: 15rem;
  }
}
@media screen and (min-width: 426px) and (max-width: 767px) {
  /************RESPONSIVE 426/767 NAV*********************************/
  .nav {
    width: 100%;
  }
  /************RESPONSIVE 426/767 HOME*********************************/
  .img__home {
    width: 100%;
    height: 10rem;
  }
  .home2__seccion2__video {
    display: none;
  }
  /************RESPONSIVE 426/767 NOSOTROS*********************************/
  .nosotros__img2 {
    height: 15rem;
  }
  /************RESPONSIVE 426/767 NOVEDADES*********************************/
  .img__novedades {
    width: 13rem;
  }
  /************RESPONSIVE 426/767 CONTACTO*********************************/
  .contacto__img {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /************RESPONSIVE 768/1023 NAV*********************************/
  .barra__link {
    margin: 0.5rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .barra__link:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  /************RESPONSIVE 768/1023 HOME*********************************/
  .img__home {
    width: 100%;
    height: 15rem;
  }
  .home2__seccion2__video {
    display: none;
  }
  /************RESPONSIVE 768/1023 NOVEDADES*********************************/
  .img__novedades {
    width: 22rem;
  }
  /************RESPONSIVE 425 NOSOTROS*********************************/
  .nosotros__img2 {
    height: 15rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1100px) {
  /************RESPONSIVE 1024/1100 NAV*********************************/
  .nav {
    width: 100%;
  }
  /************RESPONSIVE 1024/100 HOME*********************************/
  .img__home {
    width: 100%;
    height: 30rem;
  }
  .home2__seccion2__video {
    display: none;
  }
  /************RESPONSIVE 1024/1100 NOVEDADES*********************************/
  .img__novedades {
    width: 30rem;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1440px) {
  .img__novedades {
    width: 40rem;
  }
}
.img404 {
  width: 80rem;
}

.buton404 {
  background-color: rgb(212, 210, 68);
  padding: 5rem;
  border-radius: 50rem;
}