/*---------------------------------------------------------MAI FAQ------------------------------------------------*/

.faq{
    text-align: center;
}

.faq__secciones{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.lista{
    list-style-type: none;
}