/*------------------------------------------MAIN HOME--------------------------------------*/

main{
    margin-top: 1rem;
}

.home1{
    text-align: center;

}

.h1__home{
    color: #000000;
    font-size: 5rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.img__home{
height: 30rem;
width: auto;
}

.home2{
    text-align: center;
}

h2{
    text-align: center;
    color: #000000;
    margin: 10rem;
}

.home2__texto{
    margin: 1rem;
    color: #000000;
    text-align: center;
    line-height: 2rem;
    padding: 2rem;
}


.home2__seccion2__video{
    width: 50rem;
    height: 30rem;
    margin: 3rem;
}

p{
    line-height: 2rem;
    color: #000000;
}