/*********************************** MAIN NOSOTROS ************************************/

.nosotros{
    text-align: center;
}

.nosotros__img1{
    height: 40rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.nosotros__img2{
    height: 40rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.h1__nosotros{
    margin-bottom: 2rem;
}

.h2__nosotros{
    margin-top: 2rem;
    margin-bottom: 0%;
}

.h3__nosotros{
    margin-top: 2rem;
    margin-bottom: 3rem;
}